@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}
.navbarHeader{
  background-color: white;
  color: black;
}

/* logo design */

.logo-circle{
  background-color: #458FF6;
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-weight: bold;
  margin-right: 10px;
}
.logo-text{
  font-size: 25px;
}
/* navbar anchor tag */
.right-conent a{
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: rgba(1, 12, 20, 0.63);
}
.right-conent a:hover{
  border-bottom: 2px solid #458FF6;
  
}
.active{
  font-weight: bold;
}

/* header Container */

h1{
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.brand-name{
  color: #3498db;
  font-size: 45px;
}
.intro{
  text-align: justify;
}
.btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  }
  .btn-get-started:hover{
      background: #3498db;
      color: white;
  }
.img-fluid {
  height: 250px;
  
}
.animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

@-webkit-keyframes up-down{
  0%{
      transform: translateY(10px);
  }
  100%{
      transform: translateY(-10px);
  }
}
@keyframes up-down{
  0%{
      transform: translateY(10px);
  }
  100%{
      transform: translateY(-10px);
  }
}
